.header{
  display: flex;
  justify-content: space-around;

}

.filter {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
}
h3 {
  text-align: center;
  border-radius: 40%;

}

input{
  width: 150px;
  margin-left: 3%;
}




